<% estrellas = ['<button id="estrella-0" onclick="llenarEstrellas(0)"> <i class="far fa-star fa-3x"></i> </button>','<button id="estrella-1" onclick="llenarEstrellas(1)"> <i class="far fa-star fa-3x"></i> </button>','<button id="estrella-2" onclick="llenarEstrellas(2)"> <i class="far fa-star fa-3x"></i> </button>','<button id="estrella-3" onclick="llenarEstrellas(3)"> <i class="far fa-star fa-3x"></i> </button>','<button id="estrella-4" onclick="llenarEstrellas(4)"> <i class="far fa-star fa-3x"></i> </button>'] %> 

<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<!-- /Header -->
	<% if(locals.user){ %>
        <%- include('./partials/headerLogueado', {info: locals.user}) %>
      <% } else {%>
        <%- include('./partials/header') %>
      <% }%>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= info.model %></h2> 
			<p class="product-detail-description">
				<% if(locals.user && user.id==info.id){ %>
				<a href="/product/edit/<%=info.id%>">Editar</a>
				<% }%>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= info.image %> " alt="<%= info.model %>" class="product-detail-img">
					<p class="product-detail-description">
						<%= `Marca: ${info.brand} - Año: ${info.year} - Color: ${info.color} - Memoria: ${info.memory}GB - Tamaño: ${info.size} pulgadas` %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article class="username-pfp">
							<img class="userpfp" src="/images/users/<%= info.owner.image %> " alt="foto de perfil de <%= info.owner.username %>">
							<strong> <a href="/profile/<%= info.owner.id %>"> <%= info.owner.username %>  </a> </strong>
						</article>
						<% if(comentadores[0] != undefined) { %> 
							<p id="titulo-comments"><strong>Comentarios:</strong></p>
							<% for(let i =0; i< comentadores.length; i++) { %>
								<article>
									<a href="/profile/<%= comentadores[i].id %>">	<img src="/images/users/<%= comentadores[i].image %>  " alt=""> </a>
									<div class="data">
										<p class="user">
										<strong> <a href="/profile/<%=info.comentarios[i].FkUserId%> "> <%= comentadores[i].username %>  </a> </strong>
										<%= info.comentarios[i].text %>
										</p>
										<p id = "estrellas-<%=i%> ">
										<% if (info.comentarios[i].rating == 0) { %>
											<i class="far fa-star fa-3x"></i>
										<% } else { %>
											<% for(let count = 0; count < info.comentarios[i].rating; count++) { %> 
												<% if(info.comentarios[i].rating - count > 0.5) { %> 
													<i class="fas fa-star fa-3x"></i>
												<% } else if (info.comentarios[i].rating - count == 0.5) { %> 
													<i class="fas fa-star-half-alt fa-3x"></i>
												<% } %> 
											<% } %> 
										<% } %>
									</p>
									</div>
								</article>
							<% } %>
						<% } else { %> 
							<p id="titulo-comments"><strong>Este producto no tiene comentarios, comenta aca abajo!</strong></p>
							<% console.log('no hay comentarios') %> 
						<% } %>	
					</section>
					<div id="estrellas-input">
						<%- estrellas[0] %> 
						<%- estrellas[1] %> 
						<%- estrellas[2] %> 
						<%- estrellas[3] %> 
						<%- estrellas[4] %> 
					</div>
					<input type="hidden" name="vuelta" id="estrellas-rating-vuelta" value="-1">
					
					<% if(locals.user){ %> 
					<form class="form" action="storeComment" method="POST">
						<input class="form-input" name="text" type="text" placeholder="Agregar comentario">
						<input type="hidden" name="rating" id="estrellas-rating-input">
						<input name="FkUserId" class = "border form-control" type="hidden" id="formGroupExampleInput" value="<%= locals.user.id %>">
						<input name="FkPhoneId" class = "border form-control" type="hidden" id="formGroupExampleInput" value="<%= id %>">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
				<% }else{ %> 
					<a  class="buy-now-button"  href="/profile/login"> INGRESA A TU CUENTA </a>
				<% } %> 
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

	
</body>	
</html>