<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- /Header -->
	<% if(locals.user){ %>
		<% console.log('cccc' + locals.user.username) %> 
        <%- include('./partials/headerLogueado', {info: locals.user}) %>
      <% } else {%>
        <%- include('./partials/header') %>
      <% }%>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
		</div>
		<form class="formulario" enctype="multipart/form-data" method="POST" action="/product/store">
			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Modelo</label>
				<input name="model" class = "border form-control" type="text" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Marca</label>
				<input name="brand" class = "border form-control" type="text" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Año</label>
				<input name="year" class = "border form-control" type="number" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Color</label>
				<input name="color" class = "border form-control" type="text" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Memoria</label>
				<input name="memory" class = "border form-control" type="number" id="formGroupExampleInput" placeholder="Numero de GB">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Tamaño</label>
				<input name="size" class = "border form-control" type="text" id="formGroupExampleInput" placeholder="Numero en pulgadas">
			</div>

			<div class="label-input">
				<label for="form-control" id="inputFoto">Foto del Producto</label>
				<input name="image" type="file" class="form-file">
			</div>
			<input name="FkUserId" class = "border form-control" type="hidden" id="formGroupExampleInput" value="<%= locals.user.id %> ">
			<button type="submit" class="btn btn-primary">Cargar</button>
		</form>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>