<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= info.productos[id].modelo %></h2> 
			<p class="product-detail-description">
				<a href="/product/add">Agregar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=id%>.jpeg" alt="<%= info.productos[id].modelo %>" class="product-detail-img">
					<p class="product-detail-description">
						<%= `Marca: ${info.productos[id].marca} - Año: ${info.productos[id].anio} - Color: ${info.productos[id].color} - Memoria: ${info.productos[id].memoria}GB - Tamaño: ${info.productos[id].tamanio} pulgadas` %> %></p>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i =0; i< 7; i++) { %>
							<article>
								<img src="/images/users/<%= array[i] %>.png " alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile"> <%= info.comentarios[array[i]].nombre %>  </a> </strong>
									<%= info.comentarios[array[i]].texto %>
									</p>
									<p id = "estrellas-<%=i%> ">
									<% if (info.comentarios[array[i]].rating === 0) { %>
										<i class="far fa-star fa-3x"></i>
									<% } else { %>
										<% for(let count = 0; count < info.comentarios[array[i]].rating; count++) { %> 
											<% if(info.comentarios[array[i]].rating - count > 0.5) { %> 
												<i class="fas fa-star fa-3x"></i>
											<% } else if (info.comentarios[array[i]].rating - count == 0.5) { %> 
												<i class="fas fa-star-half-alt fa-3x"></i>
											<% } %> 
										<% } %> 
									<% } %>
								</p>
								</div>
							</article>
						<% } %>

					</section>
					<form class="form" action="" method="GET">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>