<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
		</div>
	
		<form class="formulario" action="/profile" method="post">
			<div class="label-input">
				<label for="exampleInputEmail1" class="form-label">Email</label>
				<input class = "border" type="email" class="form-control" id="exampleInputEmail1 aria-describedby="emailHelp" value="<%= info.usuario.email %>" >
			</div>
			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Usuario</label>
				<input class = "border" type="text" class="form-control" id="formGroupExampleInput" value="<%= info.usuario.usuario %>">
			</div>
			<div class="label-input">
				<label for="exampleInputPassword1" class="form-label">Contraseña</label>
				<input class = "border" type="password" class="form-control" id="exampleInputPassword1"value="<%= info.usuario.contrasenia %>">
			</div>
			<div class="label-input">
				<label for="form-control" id="inputDob">Fecha de nacimiento</label>
				<input class = "border" type="date" class="form-date" value="<%= info.usuario.fecha %>">
			</div>

			<div class="label-input">
				<label for="form-control" id="inputDni">D.N.I.</label>
				<input class = "border" type="number" class="form-number" value="<%= info.usuario.dni %>">
			</div>

			<div class="label-input">
				<label for="form-control" id="inputFoto">Foto de perfil</label>
				<img src="<%= info.usuario.foto %>" alt="foto del usuario">
				<input type="file" class="form-file">
			</div>
			<input type="hidden" name="id" value=" <%= /*info.usuario.id */ %>  ">
			<button type="submit" class="btn btn-primary">Cargar</button>
		</form>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>